/* Footer.css */

.footer {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }

  .container {
    width: 80%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
  }
  
  .footer-links div p {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .footer-links div p:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons i {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #555; /* Darker shade on hover */
  }
  